* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: #eff5f9;
}
.headerMenu {
    background-color: #00b9ed;
    height: 60px;
    border-bottom: 0px;
    padding-left: 0%;
    padding-right: 0%;
    width: 100%;
}
#wrapper {
    background-color: #00b9ed;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.logo {
    background-color: #00b9ed;
    width: 125px;
    margin-left:3%;
}
.logo img {
    background-color: #00b9ed;
    width: 150px;
    height: 60px;
}
.search_box {
    background-color: #00b9ed;
    position: absolute;
    top: 18px;
    margin-left: 200px;
}
#search input[type="text"] {
    background: url(../img/search-white-15.png) no-repeat 10px 6px #00b9ed;
    outline: none;
    border: 0 none;
    width: 350px;
    font: bold 12px Arial,Helvetica,Sans-serif;
    padding: 6px 15px 6px 35px;
    text-shadow: 0 2px 2px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.1), 0 1px 3px rgba(0,0,0,0.2) inset;
    -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.1), 0 1px 3px rgba(0,0,0,0.2) inset;
    box-shadow: 0 1px 0 rgba(255,255,255,0.1), 0 1px 3px rgba(0,0,0,0.2) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}
    #search input[type="text"]:focus {
        background: url(../img/search-dark-15.png) no-repeat 10px 6px #fcfcfc;
        color: #6a6f75;
        width: 350px;
        -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.1), 0 1px 3px rgba(0,0,0,0.9) inset;
        -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.1), 0 1px 3px rgba(0,0,0,0.9) inset;
        box-shadow: 0 1px 0 rgba(255,255,255,0.1), 0 1px 3px rgba(0,0,0,0.9) inset;
        text-shadow: 0 2px 3px rgba(0,0,0,0.1);
    }
